h1 {
    font-size: 64px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: underline;
}

#div {
    background-color: red;
    border-radius: 5px;
    padding: 15px;
}

dt {
    font-weight: bolder;
    font-size: larger 18px;
    color:rgb(255, 234, 234)
}

